



/*Mobile Open*/
@media screen and (max-width: 320px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 767px) {
  
}

@media screen and (min-width: 768px) and (max-width: 920px) {

  
}

@media screen and (max-width: 991px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1024px) and (max-width: 1170px) {
}

@media screen and (min-width: 1200px) {
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
    width: 100% !important
}

.fb-page, .fb-page span, .fb-page span iframe[style] {
    width: 100% !important
}



.d_page {
    width: 100%;
    margin: 15px 0 25px 0;
    float: left;
    text-align: center;
}

    .d_page b {
        background-color: #e72c2d;
        border-color: #e72c2d;
        color: #fff;
        margin-right: 8px;
        width: 45px;
        height: 45px;
        font-size: 17px;
        border-radius: 50px;
        font-weight: 400;
        display: inline-block;
        line-height: 45px;
    }

    .d_page a {
        margin: 0 2.5px;
        background: #fff;
        text-align: center;
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        line-height: 45px;
        font-size: 17px;
        color: #b5b0b0;
        border: 1px solid #b5b0b0;
        text-decoration: none;
    }

        .d_page a:hover {
            background-color: #e72c2d;
            border-color: #e72c2d;
            color: #fff;
        }
